body{ 
  font-size: larger;
  display: flex; 
  justify-content: center;
}

#div-quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  padding: 5%;
  border: black 1px solid;
  border-radius: 20px;
  background-color: lightgray;
}

#cite-quote {

}

#p-author {
  text-align: right;
  font-weight: bold;
}

.button {
  border: 1px solid black;
  padding: 1%;
}

#button-previous {
  background-color: lightpink;
}

#button-next {
  background-color: lightgreen;
}